- flash.each do |key, value|
  %div{ class: "#{flash_class(key)}" }
    %button{type: "buton", class: "close", data: {dismiss: "alert"}} ×
    - if value.is_a?(Array)
      = value.join("")
    - else
      = value