%section.content.cf-account-settings.bg-grey
  .container.new-offer

    .row
      .col-md-6.col-md-offset-3
        = render "shared/flash"
        
        = render "offers/form_static"

        = render "offers/offer_preview"