$pimary-color: #E55E64;

 /* Small Devices */
@media(max-width:767px){}
/* Tablet Devices and Up */
@media(min-width:768px){}
/* Medium Devices */
@media(min-width:992px){}
/* Desktop & Laptop */
@media(min-width:1200px){}

* {
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
}
body {
  font-family: 'myriad-pro', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #656565;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #596475;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
a, a:hover, a:focus {
  color: #596475;
  text-decoration: none;
  outline: none;
}
.container {
  max-width: 940px;
}
.content {
  height: 100%;
}
@media(min-width:768px){
  .content {
    padding-top: 75px;
  }
}

/* Box Helper */
.block {
  display: block;
  width: 100%;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

/* Margin Helper */
.m-t-md {
  margin-top: 15px !important;
}
.m-t-lg {
  margin-top: 30px !important;
}

/* Padding Helper */ 
.padding-md {
  padding: 15px;
}
.p-t-md {
  padding-top: 15px;
}
.p-b-md {
  padding-bottom: 15px;
}
.p-b-lg {
  padding-bottom: 30px;
}

/* Text Helper */
.font-white {
  color: #fff;
}
.font-light {
  font-weight: 100;
}
.font-bold {
  font-weight: 700;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Image Helper */
.thumb-md img {
  width: 44px;
}

/* Custom Input */
.input-hg {
  padding: 24px 18px;
  font-size: 18px;
}

/* Custom Button */
.btn-hg {
  font-size: 18px;
  padding: 13px 18px;
}
.bg-primary {
  background-color: #E55E64;
}
.btn-round {
  border-radius: 50px;
}
.btn-inverse {
  background-color: transparent;
  color: #E55E64;
  border: 1px solid #E55E64;
}
.btn-block {
  width: 100%;
}

/* Form Validations Message */
.help-block {
  margin-top: -2px;
  color: #fff !important;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #a94442;
  display: block;
  background: #a94442;
}

/* Background Color */
.bg-trans {
  background-color: transparent;
}
.bg-white {
  background-color: #fff; 
}
.bg-grey {
  background-color: #F0F3F6; 
}



/*
 * Header Nav
 *
 */

/* Small Devices */
@media(max-width:767px){
  .navbar {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.navbar .navbar-brand {
  color: #E55E64;
  margin-top: 4px;
  padding-left: 0px;
}
.navbar .dropdown-menu {
  right: 0;
  left: auto;
}
.navbar .current-account .profile-picture {
  margin-left: 5px;
}
.navbar .current-account .profile-picture img {
  width: 28px;
  border: 3px solid #E55E64;
}
.navbar .user-info {
  line-height: 1;
}
.navbar .user-info .account-balance {
  font-size: 16px;
  margin-top: 6px;
  display: inline-table;
  vertical-align: middle;
} 
/* Notification */
.navbar .notifications .glyphicon {
  border-left: 1px solid rgba(0,0,0,.15);
  margin-left: 15px;
  color: #596475;
  font-size: 26px;
  padding: 0px 12px;
  margin-bottom: -4px;
  overflow: hidden;
}

/*
 * Landing Page
 *
 */
.container.cf-intro {
  max-width: 660px;
}
.cf-intro {
  margin-top: 60px;
}
.cf-intro .callout {
  margin-top: 200px;
  text-align: center;
}
.cf-intro .callout .logo {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.cf-intro .callout .desc {
  color: #fff;
  font-size: 18px;
}
.cf-intro .callout .sign-in-button {
  margin: 25px 0px;
}
.cf-intro .callout .sign-in-button .btn {
  width: 100%;
}
.cf-intro .callout .sign-in-button p {
  font-size: 14px;
  margin-top: 10px;
}
/* Small Devices */
@media(max-width:767px){
  .cf-intro {
    margin-top: 0px;
  }
  .cf-intro .callout {
    margin-top: 40px;
  }
  .cf-intro .callout .logo {
    font-size: 38px;
  }
}
/* iPhone */
.cf-intro .iphone {
  margin: 0 auto;
  max-width: 380px;
}
.cf-intro .iphone img {
  width: 100%;
}


/*
 * Sign Up Page
 *
 */
.sign-up {
  margin-top: 50px;
}
.sign-up .btn {
  width: 100%;
}
.sign-up-form button.btn {
  width: 100%;
}
.sign-up-form .form-control {
  padding: 24px 18px;
  font-size: 18px;
}
/* Instagram Auth */
.connected-account {
  overflow: hidden;
}
.connected-account .btn {
  padding: 5px 18px;
}
.connected-account .btn:hover {
  background-color: transparent;
  color: #E55E64;
  border-color: #E55E64;
  cursor: default;
}
.connected-account .btn:focus, .connected-account .btn:active, .connected-account .btn:hover {
  box-shadow: none;
  border: 1px solid #E55E64;
}
.connected-account .profile-picture {
  margin-right: 15px;
}
.connected-account .profile-picture img {
  width: 40px;
}
.connected-account .user-info .full-name {
  font-weight: 500;
}
.connected-account .user-info .status {
  font-weight: 100;
  font-size: 16px;
  margin-top: -5px;
}
.connected-account .user-info p {
  margin: 0px;
  padding: 0px;
}


/*
 * Account Settings
 *
 */
@media(max-width:767px){
  .cf-account-settings {
    margin-top: 55px;
    padding-top: 15px;
  }
}


/*
 * Offer Feed
 *
 */
.offer {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.cf-offer-feed .container {
  padding: 0px;
}
@media(max-width:767px){
  .cf-offer-feed {
    margin-top: 54px;
  }
  .cf-offer-feed .container {
    padding: 0px;
  }
  .cf-offer-feed .container .offer {
    border-radius: 0px;
  }
  .cf-offer-feed .container .row {
    margin: 0px;
  }
  .cf-offer-feed .container .row>.col-xs-12 {
    padding: 0px;
  }
}
.offer .offer-image {
  position: relative;
  width: 148px;
  overflow: hidden;
}
.offer .offer-image, .offer .offer-image img {
  width: 100%;
}
.offer .offer-details {
  position: relative;
  padding: 10px 15px;
}
.offer .offer-details .offer-title {
  font-size: 18px;
}
.offer .offer-details .offer-title .offer-price {
  font-size: 18px;
  background-color: #7AD8A0;
  color: #fff;
  padding: 0 8px;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.09);
}
.offer .offer-details .offer-author, .offer .offer-details .offer-author a {
  color: #ABB1B9;
  font-size: 14px;
}
.offer .offer-details .offer-stats {
  margin-top: 0px;
  padding: 0px 0;
}
.offer .offer-details .offer-stats .offer-rating {
  color: #C7C7C7;
  font-size: 14px;
}
.offer .offer-details .offer-stats .offer-rating .active {
  color: #FFB849;
}
.offer .offer-details .offer-user-network {
  margin-top: 0px;
}
.offer .offer-details .offer-user-network .count-box {
  padding-right: 15px;
  margin-bottom: 10px;
}
.offer .offer-details .offer-user-network h5 {
  font-size: 16px;
  margin: 0px;
  margin-bottom: -5px;
}
.offer .offer-details .offer-user-network p {
  color: #ABB1B9;
  font-size: 13px;
  padding: 0px;
  margin: 0px; 
}
/* Small Devices */
@media(max-width:767px){
  .offer .offer-image {
    max-height: 200px;
  }
  .offer .offer-details {
    padding: 15px;
  }
  .offer .offer-details .offer-title {
    font-size: 18px;
  }
}

/*
 * FullPage.js Section
 *
 */ 
.section::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #333;
  opacity: 0.69;
}
.section#landing {
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg');
  background-size: cover;
}
.section#sign-up {
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg');
  background-size: cover;
}

/* Footer */
ul.footer-menu {
  padding: 0px;
  margin: 90px 20px 15px;
  list-style: none;
  display: inline-block;
}
.footer-menu li {
  float: left;
  display: inline;
  text-align: center;
}
.footer-menu a {
  color: #d4d4d4;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
}