$primary-color: #E55E64;

 /* Small Devices */
@media(max-width:767px){}
/* Tablet Devices and Up */
@media(min-width:768px){}
/* Medium Devices */
@media(min-width:992px){}
/* Desktop & Laptop */
@media(min-width:1200px){}


* {
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'myriad-pro', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #656565;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #596475;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
a, a:hover, a:focus {
  color: #596475;
  text-decoration: none;
  outline: none;
}
.container {
  max-width: 940px;
}
.content {
  height: 100%;
  overflow: scroll;
  position: relative;
  z-index: 1000;
  padding-top: 50px;
}
// Tablet Devices and Up
@media(min-width:768px){
  .content {
    padding-top: 75px;
  }
}

/* Box Helper */
.block {
  display: block;
  width: 100%;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.full-width {
  width: 100% !important;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.hide {
  display: none !important;
}
.clear {
  display: block;
  overflow: hidden;
}

/* Border Helper */
.b-b {
  border-bottom: 1px solid #F0F3F6;
}

/* Margin Helper */
.m-b-sm {
  margin-bottom: 5px;
}
.m-b-md {
  margin-bottom: 15px;
}
.m-b-lg {
  margin-bottom: 28px;
}
.m-t-md {
  margin-top: 15px;
}
.m-t-lg {
  margin-top: 28px;
}
.m-r-sm {
  margin-right: 5px;
}
.m-r-md {
  margin-right: 15px;
}
.m-r-lg {
  margin-right: 30px;
}

/* Padding Helper */ 
.p-sm {
  padding: 5px;
}
.p-md {
  padding: 15px;
}
.p-t-md {
  padding-top: 15px;
}
.p-r-sm {
  padding-right: 5px;
}
.p-b-sm {
  padding-bottom: 5px;
}
.p-l-sm {
  padding-left: 5px;
}
.p-b-md {
  padding-bottom: 15px;
}
.p-b-lg {
  padding-bottom: 28px;
}

/* Text Helper */
.font-white {
  color: #fff;
}
.font-black {
  color: #000;
}
.font-success {
  color: #7AD8A0;
}
.font-danger {
  color: $primary-color;
}
.font-light {
  font-weight: 100;
}
.font-bold {
  font-weight: 700;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Font Size Helper */
.font-18 {
  font-size: 18px;
}

/* Image Helper */
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img, .thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.thumb-sm img {
  width: 28px;
}
.thumb-md img {
  width: 44px;
}

/* Custom Input */
.input-hg {
  padding: 0px 18px;
  height: 50px;
  font-size: 18px;
}

/* Custom Button */
.btn-hg {
  font-size: 18px;
  padding: 13px 18px;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-success {
  background-color: #7AD8A0;
}
.btn-round {
  border-radius: 50px;
}
.btn-inverse {
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
}
.btn-block {
  width: 100%;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* Form Validations Message */
.help-block {
  margin-top: -2px;
  color: #fff !important;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #a94442;
  display: block;
  background: #a94442;
}

/* Background Color */
.bg-trans {
  background-color: transparent;
}
.bg-white {
  background-color: #fff; 
}
.bg-grey {
  background-color: #F0F3F6; 
}

/* Social Network Background Color */
.bg-instagram {
  background-color: #517fa4 !important;
  color: #fff;
}

/* CF Select || Button Group */ 
.btn-group .dropdown-menu {
  right: inherit;
}
.btn-group .dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 71px;
  bottom: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.btn-group .dropdown-menu:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -9px;
  right: 72px;
  bottom: auto;
  border: 9px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
}


/*
 * Header Nav
 *
 */

/* Small Devices */
@media(max-width:767px){
  .navbar {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.navbar .navbar-brand {
  color: $primary-color;
  padding-left: 0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar .dropdown-menu {
  right: 0;
  left: auto;
}
.navbar .current-account {
  margin: 0;
}
.navbar .current-account > li {
  padding: 11px 0;
}
.navbar .current-account .profile-picture {
  margin-left: 5px;
}
.navbar .current-account .profile-picture img {
  width: 28px;
  border: 3px solid $primary-color;
}
.navbar .user-info {
  line-height: 1;
}
.navbar .user-info .account-balance {
  font-size: 16px;
  margin-top: 6px;
  display: inline-table;
  vertical-align: middle;
} 
/* Shortcut Link */
ul.shortcut li {
  float: left;
}
ul.shortcut li a {
  display: inline-table;
  padding: 13px 15px;
  padding-right: 0px;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  font-size: 24px;
}
ul.shortcut li a:hover, ul.shortcut li.active a {
  color: $primary-color;
}

/* Notification */
.navbar .notifications .glyphicon {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 15px;
  color: #596475;
  font-size: 26px;
  padding: 0px 12px;
  margin-top: 1px;
  overflow: hidden;
  display: inline-table;
  vertical-align: middle;
}

/*
 * Landing Page
 *
 */
.container.cf-intro {
  max-width: 660px;
}
.cf-intro {
  margin-top: 60px;
}
.cf-intro .callout {
  margin-top: 200px;
  text-align: center;
}
.cf-intro .callout .logo {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.cf-intro .callout .desc {
  color: #fff;
  font-size: 18px;
}
.cf-intro .callout .sign-in-button {
  margin: 25px 0px;
}
.cf-intro .callout .sign-in-button .btn {
  width: 100%;
}
.cf-intro .callout .sign-in-button p {
  font-size: 14px;
  margin-top: 10px;
}
/* Small Devices */
@media(max-width:767px){
  .cf-intro {
    margin-top: 0px;
  }
  .cf-intro .callout {
    margin-top: 40px;
  }
  .cf-intro .callout .logo {
    font-size: 38px;
  }
}
/* iPhone */
.cf-intro .iphone {
  margin: 0 auto;
  max-width: 380px;
}
.cf-intro .iphone img {
  width: 100%;
}


/*
 * Form Helper
 *
 */
.container.form-wrapper {
  max-width: 660px;
}
.sign-up {
  margin-top: 50px;
}
.sign-up .btn {
  width: 100%;
}
.cf-form select.form-control {
  height: 50px;
  padding: 0px 18px;
  color: rgba(0,0,0,1);
}
.cf-form .bootstrap-tagsinput {
  padding: 1px 11px;
  border: 2px solid #E7EBEF;
  border-radius: 2px;
  height: 40px;
  overflow: hidden;
}
.cf-form .bootstrap-tagsinput input {
  box-shadow: none;
  border: none;
  outline: none;
  height: 36px;
  margin-top: -1px;
  vertical-align: middle;
  width: 4em !important;
}
.cf-form .panel-group .panel-footer {
  border-top: 2px solid #eeeff0 !important;
}
.cf-form .btn-group .btn {
  width: 100%;
  text-align: left;
}
.cf-form .btn {
  font-weight: 700;
  font-size: 16px;
}
.cf-form .btn-group .caret-full .caret {
  top: 15px;
  position: absolute;
  right: 13px;
  color: inherit;
}



/*
 * Social Connections
 *
 */
.connect-account .btn {
  padding: 10px 18px;
}
.connect-account .disconnect {
  padding: 22px;
  line-height: 1;
}
.connect-account .btn:hover {
  color: #fff;
  cursor: default;
}
.connect-account .btn:focus, .connect-account .btn:active, .connect-account .btn:hover {
  box-shadow: none;
}
.connect-account .has-success .form-control-feedback {
  color: #fff !important;
}
.connect-account .form-control-feedback {
  top: 15px !important;
}
.connect-account .profile-picture {
  margin-right: 15px;
}
.connect-account .profile-picture img {
  width: 40px;
}
.connect-account .user-info .full-name {
  font-weight: 500;
}
.connect-account .user-info .status {
  font-weight: 100;
  font-size: 16px;
  margin-top: -5px;
}
.connect-account .user-info p {
  margin: 0px;
  padding: 0px;
}
.remove-connection, .remove-connection a {
  color: #E7EBEF;
  font-size: 18px;
  padding: 9px 0;
}
.remove-connection:hover, .remove-connection a:hover {
  color: #c1c8d0;
}


/*
 * Account Settings
 *
 */
@media(max-width:767px){
  .cf-account-settings {
    // margin-top: 55px;
    padding-top: 70px;
  }
}


/*
 * Offer Feed
 *
 */
.offer {
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
@media(min-width:767px){
  .offer {
    max-height: 157px;
  }
}
.cf-offer-feed .container {
  padding: 0px;
}
@media(max-width:767px){
  .cf-offer-feed .container {
    padding: 0px;
  }
  .cf-offer-feed .container .offer {
    border-radius: 0px;
  }
  .cf-offer-feed .container .row {
    margin: 0px;
  }
  .cf-offer-feed .container .row>.col-xs-12 {
    padding: 0px;
  }
}
.offer .offer-image {
  position: relative;
  width: 148px;
  overflow: hidden;
  padding: 0px 0 0 15px;
}
@media(max-width:767px){
  .offer .offer-image {
    padding: 0px;
  }
}
.offer .offer-image, .offer .offer-image img {
  width: 100%;
}
.offer .offer-details {
  position: relative;
  padding: 10px 25px 10px 15px;
}
.offer .offer-details .offer-title {
  font-size: 18px;
}
.offer .offer-details .offer-title .offer-price {
  font-size: 18px;
  background-color: #7AD8A0;
  color: #fff;
  padding: 0 8px;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.09);
}
.offer .offer-details .offer-author, .offer .offer-details .offer-author a {
  color: #ABB1B9;
  font-size: 14px;
}
.offer .offer-details .offer-stats {
  margin-top: 0px;
  padding: 0px 0;
}
/* Small Devices */
@media(min-width:768px){
  .offer .offer-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 157px;
  }
  .offer .offer-details .offer-stats {
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
}
.offer .offer-details .offer-stats .offer-rating {
  color: #C7C7C7;
  font-size: 14px;
}
.offer .offer-details .offer-stats .offer-rating .active {
  color: #FFB849;
}
.i-star2.active, .fa-star.active {
  color: #FFB849;
}
.offer .offer-details .offer-user-network {
  margin-top: 0px;
}
.offer .offer-details .offer-user-network .count-box {
  padding-right: 15px;
  margin-bottom: 10px;
}
.offer .offer-details .offer-user-network h5 {
  font-size: 16px;
  margin: 0px;
  margin-bottom: -5px;
}
.offer .offer-details .offer-user-network p {
  color: #ABB1B9;
  font-size: 13px;
  padding: 0px;
  margin: 0px; 
}
/* Small Devices */
@media(max-width:767px){
  .offer .offer-image {
    max-height: 200px;
  }
  .offer .offer-details {
    padding: 15px;
  }
  .offer .offer-details .offer-title {
    font-size: 18px;
  }
}

/*
 * Offer Widget
 * Show Page
 *
 */
.offer-widget {
  overflow: hidden;
}
.offer-widget .offer-gallery .featured {
  overflow: hidden;
  position: relative
}
.offer-widget .offer-gallery .featured:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.4);
  border-radius: 2px;
}
.offer-widget .offer-gallery .featured > img {
  width: 100%;
}
.offer-widget .offer-gallery .featured .social-user {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
        background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
        background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
}
.offer-widget .offer-gallery .featured .social-user .username {
  color: #fff;
}
.offer-widget .offer-gallery .featured .social-user .follow-metric {
  line-height: 1;
  color: #fff;
}
.offer-widget .offer-price {
  font-size: 18px;
  background-color: #7AD8A0;
  color: #fff;
  padding: 0 8px;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.09);
}
.offer-widget .offer-details .title {
  font-size: 22px;
  font-weight: 400;
}
.offer-widget .offer-details .order {
  overflow: hidden;
}


// Profile Widget
.profile .thumb-md:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.4);
  border-radius: 2px;
}
.profile a.username {
  margin: 0;
  padding: 0;
}
.profile .follow-metric {
  line-height: 1;
}


/*
 * Offer Form
 *
 */

/* Preview Offer */ 
@media(max-width:767px) {
  .container.new-offer .offer .offer-details {
    padding: 15px 30px;
  }
}

/* Offer Form */
.offer-form span, .offer-form .form-control {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #596475;
}
.offer-form .btn-group {
  width: 100%;
}
.offer-form .btn-group .btn {
  width: 100%;
  text-align: left;
}
.offer-form .caret-full .caret {
  top: 15px;
  position: absolute;
  right: 13px;
  color: inherit;
}
.offer-form .i {
  // color: #8594A2;
  color: inherit;
}
.offer-form .form-control {
  background-color: transparent;
  border: 2px solid #E7EBEF;
}
.offer-form .form-control,
.offer-form .form-control::-webkit-input-placeholder {
  font-weight: 700;
}
.offer-form .form-control::-webkit-input-placeholder {
  color: #D7DDE3;
}
.offer-form select.form-control {
  margin-top: 0px;
  padding-top: 2px;
  padding-left: 10px;
  font-size: 16px;
}
.offer-form .btn {
  display: block;
}
.offer-form .field-group {
  position: relative;
}
.offer-form .field-group #price-title {
  position: absolute;
}
.offer-form .field-group #price-title .select-price {
  font-size: 18px;
  line-height: 1;
}
.offer-form .field-group #price-title .btn-group .btn {
  height: 36px;
  border-radius: 2px 0 0 2px !important;
}
@media(max-width:767px) {
  .offer-form .field-group #price-title .btn-group .btn {
    font-size: 16px;
  }
}
.offer-form .field-group input#offer_title {
  overflow: hidden;
  line-height: 1.3;
  text-indent: 4.000em;
  height: 36px;
}
.offer-form textarea {
  resize: none;
}


/*
 * fullpage background
 *
 */ 
.full-page::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #333;
  opacity: 0.69;
}
.full-page {
  padding-top: 1px !important;
  height: 100%;
  margin: 0px;
  background-size: cover;
  overflow-y: scroll;
}
.full-page#landing {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg");
}
.full-page#sign-up {
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg');
}

/* Footer */
ul.footer-menu {
  padding: 0px;
  margin: 90px 20px 15px;
  list-style: none;
  display: inline-block;
}
.footer-menu li {
  float: left;
  display: inline;
  text-align: center;
}
.footer-menu a {
  color: #d4d4d4;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
}